.editor {
  @apply dark:bg-neutral-900 bg-neutral-100 mx-auto w-full;
  @apply overflow-hidden border;
  @apply h-[400px] pb-2;
}

.editor.fullscreen {
  @apply fixed left-0 top-0 right-0 z-50 h-full;
  width: calc(100vw - 40px);
}

.editor-toolbar {
  @apply p-2 w-full flex space-x-2 justify-end;
  @apply bg-neutral-400 dark:bg-neutral-700;
}

.editor-toolbar-button {
  @apply rounded p-2 text-neutral-800;
  @apply ring-2 ring-neutral-600;
  @apply hover:ring-neutral-800 focus:ring-neutral-800;
  @apply transition-all duration-200;
}

.editor-textarea {
  @apply rounded-none focus:ring-0 block;
  @apply absolute top-0 bottom-10 left-0;
  max-height: calc(100%);
  resize: none;
}

.editor-preview {
  @apply absolute top-0 bottom-10 right-0;
  @apply p-4 overflow-x-auto;
}
