{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended", "next", "next/core-web-vitals"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "prefer-const": "error",
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" }
    ]
  },
  "overrides": [
    {
      "files": ["next.config.mjs", "./src/server/db/client.ts", "./src/server/mailing/client.ts"],
      "rules": {
        "@typescript-eslint/no-unused-vars": "off",
        "no-var": "off"
      }
    }
  ]
}
